<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="23" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- Google Play filtering -->
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
    <uses-permission android:name="android.permission.ACCELEROMETER" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Google Play filtering -->
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
    <uses-permission android:name="android.permission.ACCELEROMETER" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Game"
        tools:targetApi="31" >


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Defi_Dessin"/>
        <activity android:name=".Defi_Questions"/>
        <activity android:name=".AddChallengeActivity" />
        <activity android:name=".SettingGameActivity" />
        <activity android:name=".OnePlayerGameManager"/>
        <activity android:name=".TrainingGameManager"/>
        <activity android:name=".EndGameActivity"/>
        <activity android:name=".Defi_Secouer"/>
        <activity android:name=".Defi_compass"/>
        <activity android:name=".Defi_slide"/>
        <activity android:name=".LeaderBoardActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fr.esir.wifidirect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <service android:enabled="true" android:name="fr.esir.wifi.FileTransferService" />
    </application>
</manifest>